* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik' ,'Times New Roman', Times, serif;
    box-sizing: border-box;
}
html {
    height: 100%;
    width: 100%
}
body {
    /*Primary Colors*/
    --blue: hsl(246, 80%, 60%);
    --work: hsl(15,100%,70%);
    --play: hsl(195,74%,62%);
    --study: hsl(348,100%,68%);
    --exercise: hsl(145,58%,55%);
    --social: hsl(264,64%,52%);
    --self-care: hsl(43,84%,65%);
    /*Neutral*/
    --very-dark-blue: hsl(226,43%,10%);
    --dark-blue: hsl(235,46%,20%);
    --desaturated-blue: hsl(235,45%,61%);
    --pale-blue: hsl(236,100%,87%); 
    background-color: var(--very-dark-blue);
    width: 1440px;
    height: 652px;
}
.profile {
    color: var(--pale-blue);
    background-color: var(--blue);
    padding: 30px;
    
    border-radius: 12px;
}
.profile img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 1px 1px 9px 3px #0000005c;
    border: 2px solid #fff;
}   
.profile p {
    font-size: 15px;
    font-weight: 300;
    margin-top: 30px;
}
.profile .name {
    font-weight: 400;
    font-size: 30px;
}
.interval {
    font-size: 14px;
    font-weight: 400;
    color: var(--desaturated-blue);
    background-color: var(--dark-blue);
    padding: 17px;
    border-radius: 12px;
    
}
.interval .daily {
    margin-top: 5px;
}
.interval .weekly {
    margin: 15px 0;
}
.background {
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    padding-right: 12px;
    height: 20%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    position: relative;
}
.work .background {
    background-color: var(--work);
}
.play .background {
    background-color: var(--play);
}
.study  .background {
    background-color: var(--study);
}
.exercise .background {
    background-color: var(--exercise);
}
.exercise .background img {
    margin-top: 10px;
}
.social .background {
    background-color: var(--social);
}
.self-care .background {
    background-color: var(--self-care);
}
.category {
    color: #fff;
    border-radius: 6px;
}
.background img {
    z-index: 0;
    position: absolute;
    top: -14px;
}
.content {
    background-color: var(--dark-blue);
    height: 80%;
    border-radius: 6px;
    z-index: 1;
    position: relative;

    
}
.heading-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 18px;
    
}
.heading-container img {
   width: 15px;
}
 .current {
    margin-top: 22px;
    font-weight: 400;
    font-size: 32px;
    padding-left: 30px;
}
 .prev {
    font-weight: 300;
    font-size: 12px;
    color: var(--pale-blue);
    padding-left: 30px;
    padding-top: 10px;
}
body {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 1440px;
   margin: 0 auto;
   justify-content: center;
   
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 300px 165px;
    height: 100%;
    width: 60%;
    align-content: center;
    justify-content: center;
    grid-column-gap: 20px;
}
.wrapper .profile {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 310px;
}
.wrapper .interval {
    grid-column: 1/2;
    grid-row: 2/3;
    height: fit-content;
    z-index: -1;
}
.wrapper .categories {
    grid-column: 2/-1;
}
.categories {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px 200px;
    
}
.display {
    display: none;
}
@media screen and (max-width: 375px) {
    body {
        width: 375px;
        justify-content: stretch;
        height: 1110px;
       
    }

    .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 299px 144px 75px;
    height: 100%;
    width: 90%;
    align-content: stretch;
    justify-content: center;
    grid-column-gap: 20px;
    }
    .wrapper .profile {
        grid-column: 1/-1;
        grid-row: 1/2;
        height: 280px;
    }
    .wrapper .interval {
        grid-column: 1/-1;
        grid-row: 2/3;
        height: fit-content;
        z-index: -1;
    }
    .wrapper .categories {
        grid-column: 1/-1;
        grid-row: 3/-1;
        display: grid;
        grid-gap: 14px;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 200px 200px;
        grid-auto-rows: 200px;
    }
}
.attribution {
    color: #fff;
}